<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
 .filter-menu input[type="radio"] {
    display: none;

}

 .container {
 background-color:white;

            display: flex;
        }
 #sidebar2 {

            margin-top: 20px; /* Adjust the margin-top value to create space above the sidebar */

        }
.category-options,
.gender-options {
margin-top:5px;
    display: flex;
    gap: 10px;
}
.price-slider {

    margin: 15px 0;
    display: flex;
}

#slider-range {
    width: 150%;
    margin-right: 10px;
}

.price-range {
    text-align: left;
    margin-top: 10px;
    flex-grow: 1;
}
.ui-slider-horizontal {
  height: 5px;
  background-color: #eaeaea;
  border-radius: 5px;
}

/* Slider handle */
.ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  border: 2px solid #fff;
}

/* Active state of the slider handle */
.ui-slider-handle.ui-state-active {
  background-color: #0056b3;
  border-color: #fff;
}

/* Range between the handles */
.ui-slider-range {
  background-color: #a90505;
  border-radius: 5px;
}

.product {
    display: block;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2, .product p {
    margin: 5px 0;
}    .filter-menu input[type="radio"] {
     display: none;
 }
 .category-options,
 .gender-options {
 margin-top:10px;
     display: flex;
     gap: 10px;
 }

 /* Style the custom checkbox */
 .filter-menu label {
     position: relative;
     padding-left: 25px;
     cursor: pointer;
 }

 .filter-menu label:before {
     content: '';
     position: absolute;
     left: 0;
     top: 2px;
     width: 16px;
     height: 16px;
     border: 2px solid #000;
     background-color: #fff;
 }

 /* Style the custom checkbox when checked */
 .filter-menu input[type="radio"]:checked + label:before {
     background-color: #000;
 }

 /* Style the checkmark inside the custom checkbox */
 .filter-menu label:after {
     content: '';
     position: absolute;
     display: none;
 }

 .filter-menu input[type="radio"]:checked + label:after {
     display: block;
 }

 .filter-menu label:after {
     left: 4px;
     top: 6px;
     width: 4px;
     height: 8px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
 }
     .header {
     height:80px;
           z-index: 998;
           display: flex;
           position: fixed; /* Make the header fixed */
           top: 0; /* Stick it to the top of the page */
           left: 0; /* Stick it to the left of the page */
           justify-content: space-between;
           align-items: center;
           background-color: #333;
           color: white;
           width: 100%;
        }

        .header h1 {
        margin-left:20px;
          margin: 0;
          display: flex;
          align-items: center;
          font-family: 'Lobster Two', cursive;
          font-weight: 600;
          padding:20px;
        }

        .header h1 img {
        margin-left:20px;
        padding:10px;
          height: 70px;
          margin-right: 3px;
        }

        .header form {
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-right: 15px;
        }

        .header form input[type="text"] {
          font-size: 16px;
          padding: 10px;
          border: none;
          outline: none;
        }

        .header form input[type="submit"] {
          margin-right: 2px;
          font-size: 16px;
          padding: 10px 20px;
          border: none;
          outline: none;
          color: white;
          background-color: #a90505;
          cursor: pointer;
        }

        .header .menu-icon {
       position: relative;
       text alight: right;
       margin-right: 5%
        }

         .header .menu-icon img {
               width:30px;
               height:30px;
                }


         .header .menu-icon span{

         background-color: red;
         border-radius:50%;
         display:flex;
         justify-content:center;
         align items: center;
         position:absolute;
         top: -10px;
           right: -10px;
           width: 20px;
           height: 20px;
           font-size: 14px;


         padding:3px 10 px;


         }

         #counter{
        margin-top:50px;
        margin-left:100px;
        display:flex ;
          flex-wrap:wrap ;
          color:black;
        }
        body {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
        }

        .nav1 {
          display:flex

        }
        .nav3 {
                  margin-left:500px;

                }
        .filter-menu {

                    margin-left: 100px;
                    width:250px;
                }
        .nav1 a{
          display:block ;
          font-size:16px ;
          color:white ;
          text-decoration:none ;
          padding:14px 16px
        }
        .nav1 a:hover{
          background-color:#111
        }
 .featured h1{
 font-size:30px;
 margin-left:80px;
 }
        .product-list {
          display:flex ;
          flex-wrap:wrap ;
          background-color:white;

          margin-left:70px;
          margin-right:200px;
        }
        .product{
          width:200px ;
          margin:20px ;
          margin-top:10px ;
          text-align:left ;
          background-color:white ;
          padding:20px ;
         border-style: solid;
          border-width: 1px;
           border-color:#000333;
          transition:.3s
        }
        .product:hover{
          box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
        }
        .product img{
          width:100%
        }
        .product h2{
          font-size:24px ;
          margin-top:20px
        }
        .product p{
          font-size:18px ;
          margin-top:10px
        }
        .product button{
          font-size:18px ;
          padding:10px 20px ;
          margin-top:20px ;
          border:none ;
          outline:none ;
          color:white ;
          background-color:#333 ;
          cursor:pointer
        }
        footer {
        font-family: 'Noto Sans', sans-serif;

    background-color: #333;
    color: white;
    padding: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;

}
.footer-section {
    width: 500px;
}
.footer-section1 {
    width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;

}
.footer-bottom {
    text-align: center;
    margin-top: 20px;

}
.footer-section a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* Add hover effect */
.footer-section a:hover {
  text-decoration: underline;
}

/* Style the font awesome icons */
.footer-section i {
  margin-right: 5px;
  font-size: 16px; /* Adjust the icon size if needed */
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
}

.mySlides {
  display: none;
}

.image-crop {
  height: 500px;
  width:100%;
  overflow: hidden;
}

.image-crop img {
  margin-top: -100px;

}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 3.0s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }


  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }


  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }


  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 3.0s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }


  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.banner div {
        text-align: right;
        background-color: white;
        padding: 10px;
    }
  .banner h1, .banner p {
  margin-right:100px;
        text-align: right;
        color:#a90505;
    }
    .banner p {
  margin-right:100px;
        text-align: right;
        color:#a90505;
    }
    .hidden {
      display: none;
    }


    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }


nav {
z-index:998;
  position: fixed;
  bottom: 0;
 right:0;
  height: 70px;

  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 30px;
  margin-left: 200px;
  cursor: pointer;
}

.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 8%;
  right: -100%;
  height: 100%;
  width: 400px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;

}
nav.open .sidebar {
  right:0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.sidebar cart-items{
margin-left:30px;

margin-top:300px;


}

.list .nav-link {
  display: flex;
  align-items: center;

  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-left: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
z-index:997;
  position: fixed;
  top: 0;
  right: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 3.0s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;

  pointer-events: auto;
}


.item-quantity {
  margin-left: 300px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 2px;

}

.item-quantity button {
  font-size: 14px;
  padding: 5px 8px;
  border: none;
  outline: none;
  background-color: #ccc;
  cursor: pointer;
  vertical-align: middle;
}

.item-quantity .quantity-value {
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}




.popup-notification {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  animation: fade-in 0.3s ease;
}

.popup-notification.hidden {
  display: none;
}

#close-notification {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.sidebar {

  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #a90505 #f9f9f9;
}
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #a90505;
  border-radius: 10px;
}


.checkout {
margin-bottom:100px;
  position: relative;
  bottom: 20px;
}

.sidebar.open {
  right: 0;
}

.sidebar .logo {
  display: flex;
  align-items: center;
}

.sidebar .logo h2 {
  margin-left: 10px;
  font-size: 24px;
}

.sidebar .cart-items {
margin-top:40px;
  margin-top: 20px;
}

.sidebar .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar .cart-item img {
margin-left:30px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.item-price {
margin-left:120px;
margin-right:20px;


   width: 80px;
}






.sidebar .cart-item .item-info {
  flex-grow: 1;
  width:180px;
}

.sidebar .cart-item h3 {
  font-size: 18px;
  margin: 0;

    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .cart-item p {
  font-size: 14px;
  margin: 0;
}

.sidebar .cart-item .item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar .cart-item button {
  font-size: 16px;
  padding: 5px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.sidebar .cart-item .quantity-value {
  font-size: 16px;
  font-weight: 500;
}

.sidebar .cart-total {
margin-left:30px;

  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.sidebar .close-btn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar .close-btn:hover {
  background-color: #555;
}
li a[href="checkout.html"] {



  font-size: 18px;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #a90505;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.checkout-item {
margin-top:40px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: #a90505;
  border-radius: 5px;
}

.checkout-link {
  list-style: none;
}
li::marker {
  color: transparent!important;
}


.nav-list {
  text-align: center;
}